:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

h1 {
    font-size: 2.25rem;
}

body > p {
    display: none;
}

p {
    font-size: 0.75rem;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

.card-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.50rem;
    }
    body > p {
        display: block;
    }
    p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 2.50rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.15rem;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark);
      color: var(--light);
    }